{% extends 'index.html' %}

{% block body %}
    <link rel="stylesheet" href="../../../static/style.css" >
    <div class="playerpod">
        {% if episode.cover %}
            <div class='playerpodc'>
                <h3 class="ep-title">{{ episode.title }}</h3>
                <img src="{{ episode.cover }}">
            </div>
        {% else %}
            <div class='playerpodnc'>
                <h3 class="ep-title">{{ episode.title }}</h3>
            </div>
        {% endif %}
        <h4><a class="ep-link" href="{{ episode.link }}">{{ episode.name }}</a></h4>
        <a class="ep-link" href="{{ episode.link }}">Episode </a> 
        | 
        <a class="ep-link" href="{{ episode.podlink }}">Podcast </a> 
        <audio controls="enabled" preload="none">
            <source src="{{ episode.audiolink }}" type="audio/mpeg">
        </audio>   
    </div>
        <p class="desc">Date: {{ episode.date }}</p>
        <p class="desc">{{ episode.summary }}</p> 
{% endblock %}
