<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css" >
    <title>Podevcast</title>
</head>
<body>
    <h2>Podevcast</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/list/">Podcasts</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
        
    </nav>
   {% block body %}
   <div class="podhome">
       {% for episode in ep %}
       <div class="playerpod">
       <h3>{{ episode.title }}</h3>
       {% if episode.cover %}
        <img src="{{ episode.cover }}" width="50px" height="50px">
       {% endif %}
            <audio controls="enabled" preload="none">
                <source src="{{ episode.audiolink }}"
                type="audio/mpeg">
           </audio>
       </div>
       {% endfor %}
   </div>
   {% endblock %}
</body>
</html>
