<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css" >
    <link rel="icon" href="https://res.cloudinary.com/dgpxbrwoz/image/upload/v1644676178/blogmedia/jz0dnk0ogz2qyu5f4vvr.svg" type="image/svg+xml" sizes="256x256">
    <title>Podevcast</title>
</head>
<body>
    <img src="https://res.cloudinary.com/dgpxbrwoz/image/upload/v1644676385/blogmedia/f1kddn4llpcwgd8aegvk.svg" type="image/svg+xml" >
    <nav>
        <ul>
            <li><img src="https://res.cloudinary.com/dgpxbrwoz/image/upload/v1644676178/blogmedia/jz0dnk0ogz2qyu5f4vvr.svg" type="image/svg+xml" class="logo" width="100px" height="100px" ></li>
            <li><a href="/">Home</a></li>
            <li><a href="/list/">Podcasts</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
        
    </nav>
   {% block body %}
   <div class="podhome">
       {% for episode in ep %}
       <div class="playerpod">
       {% if episode.cover %}
            <div class="playerpodc">
                <h3>{{ episode.title }}</h3>
                <img src="{{ episode.cover }}">
        {% else %}
            <div class="playerpodnc">
                <h3>{{ episode.name }}</h3>
                <h3>{{ episode.title }}</h3>
       {% endif %}
            <audio controls="enabled" preload="none">
                <source src="{{ episode.audiolink }}"
                type="audio/mpeg">
           </audio>
        </div>
        </div>
       {% endfor %}
   </div>
   {% endblock %}
</body>
</html>
