{% extends 'index.html' %}

{% block body %}
    <link rel="stylesheet" href="../static/style.css" >
    <input id="searchbar" onkeyup="podcast_search()" type="text"
        name="search" placeholder="Search Podcast" autocomplete="off">      
    <ul class="listpod">
    {% for podcast in ep %}
        {% if podcast.cover %}
            <div class="playerpod">
                <img src="{{ podcast.cover }}" width="!50px" height="150px">
                <h3 class="withcover" ><li><a class="podlink" href="{{ podcast.links }}">{{ podcast.title }}</a></li></h3>
            </div>
        {% else %}
            <div class="playerpodnc">
                <h3><li><a class="podlink" href="{{ podcast.links }}">{{ podcast.title }}</a></li></h3>
            </div>
        {% endif %}
    {% endfor %}
    </ul>

    <script>
    function podcast_search() {
        let input = document.getElementById('searchbar').value
        input=input.toLowerCase();
        let x = document.getElementsByClassName('playerpod');
          
        for (i = 0; i < x.length; i++) { 
            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                x[i].style.display="none";
            }
            else {
                x[i].style.display="list-item";                 
            }
        }
    }
    </script>
{% endblock %}
