{% extends 'index.html' %}

{% block body %}
    <link rel="stylesheet" href="../static/style.css" >
    <h2>{{ podcast.title }}</h2>
    <img src="{{ podcast.cove }}" >

    {% for ep in podcast.list %}
        <div class='playerpod'>
        {% if ep.cover %}
            <div class='playerpodc'>
                <h3>{{ ep.title }}</h3>
                <img src="{{ ep.cover }}">
            </div>
        {% else %}
            <div class='playerpodnc'>
                <h3>{{ ep.title }}</h3>
            </div>
        {% endif %}
        <audio controls="enabled" preload="none">
            <source src="{{ ep.audiolink }}" type="audio/mpeg">
        </audio>   
        </div>
    {% endfor %}
{% endblock %}
