{% extends 'index.html' %}

{% block body %}
    <link rel="stylesheet" href="../../static/style.css" >
    <div class="topod">
        {% if podcast.cover %}
            <img src="{{ podcast.cover }}" class="podcast-cover" >
        {% endif %}
        <h2 class="podcast-title">{{ podcast.title }}</h2>
        <h4 class="podcast-link"><a href="{{ podcast.oglink }}">Podcast Link</a></h4>
    </div>

    {% for ep in podcast.list %}
        <div class='playerpod'>
        {% if ep.cover %}
            <div class='playerpodc'>
                <h3><a class="podlink" href="{{ ep.link }}">{{ ep.title }}</a></h3>
                <img src="{{ ep.cover }}">
            </div>
        {% else %}
            <div class='playerpodnc'>
                <h3><a class="podlink" href="{{ ep.link }}">{{ ep.title }}</a></h3>
            </div>
        {% endif %}
        <audio controls="enabled" preload="none">
            <source src="{{ ep.audiolink }}" type="audio/mpeg">
        </audio>   
        </div>
    {% endfor %}
{% endblock %}
