:root
{
	--font:'Verdana', cursive;
	--blue:#006eff;
	--grey:#dddddd;
}

body
{
    margin: 0;
    padding: 0;
    background-color: var(--grey);
}

nav 
{
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
nav>ul
{
    color: white;
    list-style-type: none;
    display: flex;
    padding-right: 20px;
    width: 100%;
    justify-content: center;
}

nav>ul>li
{
    padding-right: 20px;
    font-size: 30px;
}

.listpod
{   
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    color: #555555;
}
.listpod > .playerpodc, .listpod > .playerpodnc
{
    font-weight: 700;
    border-bottom: 2px solid var(--blue);
}


li > a
{
    text-decoration: none;
    color: #ffffff;
}

.podlink
{
    text-decoration: none;
    color:var(--blue); 
}

audio { 
    width: 600px; 
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
    border-radius: 90px;
    transform: scale(1.05);
    background-color: var(-blue);
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    position: relative;
    left: 100%; 
    height: 55px;
}

.podhome
{
    display: grid;
}

.podhome > img
{
    width: 100%;
    height: 100%;            
}

.playerpod{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px;
    border-bottom: 2px solid var(--blue);
}
.playerpodc{
    position: relative;
    margin: 20px;
}
.playerpodc> img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.playerpodc> audio
{
    z-index: 3;
    margin: 20px;
    position: relative;
    left:100%;
}
.playerpodc>h3 
{
    z-index: 3;
    width: 50vw;
    position: relative;
    left: 110%;
    color: var(--blue);
    font-weight: 800;
}
.playerpodnc > h3
{
    z-index: 3;
    width: 50vw;
    position: relative;
    color: var(--blue);
    font-weight: 800;
}
.withcover
{
    z-index: 3;
    position: relative;
    width: 50vw;
}

.podnc
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px;
    border-bottom: 2px solid var(--blue);
}
.podnc > h3
{
    z-index: 3;
    width: 50vw;
    position: relative;
    color: var(--blue);
    font-weight: 800;
}

.logo
{
    width: 50px;
    height: 50px;
}
