:root
{
	--font:'Verdana', cursive;
	--blue:#006eff;
	--grey:#dddddd;
    --text-color: #006eff;
    --text-sec: black;
}

body
{
    margin: 0;
    padding: 0;
    background-color: var(--grey);
    color: var(text—-sec)
}
.dark-mode
{
    --text-color: #d1d1d1;
    --text-sec: white;
	background-color:#343434;
}

nav 
{
    background-color: var(--blue);
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
nav>ul, footer>ul
{
    list-style-type: none;
    display: flex;
    padding-right: 20px;
    width: 100%;
    justify-content: center;
}

nav>ul>li, footer>ul>li{
    padding-right: 20px;
    font-size: 20px;
}
nav>ul>li>a
{
    padding-right: 20px;
    font-size: 30px;
    color: white;
}

.listpod
{   
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    color: #555555;
}
.listpod > .playerpodc, .listpod > .playerpodnc
{
    font-weight: 700;
    border-bottom: 2px solid var(--blue);
}

a
{
    text-decoration: none;
    color:var(--text-color);
}

li > a
{
    text-decoration: none;
}

.podlink
{
    text-decoration: none;
    color:var(--text-color); 
}

audio { 
    width: 600px; 
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
    border-radius: 90px;
    transform: scale(1.05);
    background-color: var(-blue);
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    position: relative;
    left: 100%; 
    height: 55px;
}

.podhome
{
    display: grid;
}

.podhome > img
{
    width: 100%;
    height: 100%;            
}

.playerpod{
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px;
    border-bottom: 2px solid var(--blue);
}
.playerpodc{
    position: relative;
    margin: 20px;
}
.playerpodc> img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.playerpodc> audio
{
    z-index: 3;
    margin: 20px;
    position: relative;
    left:100%;
}
.playerpodc>h3 
{
    z-index: 3;
    width: 50vw;
    position: relative;
    left: 110%;
    color: var(--blue);
    font-weight: 800;
}
.playerpodnc > h3
{
    z-index: 3;
    width: 50vw;
    position: relative;
    color: var(--blue);
    font-weight: 800;
}
.withcover
{
    z-index: 3;
    position: relative;
    width: 50vw;
}
.desc
{
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
}
.podcast-cover
{
    width: 40%;
    padding: 50px;
}
.podcast-title
{
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
}
.ep-link
{
    position: relative;
    left: 100%;
    color: #000fff;
    font-weight: 900;
    text-decoration: none;
    top: -5%;
}
.podcast-link
{
    position: relative;
    color: #000fff;
    font-weight: 900;
    text-decoration: none;
    left: 50%;
}
.ep-title
{
    width: 50vw;
    color: var(--blue);
    font-size: 30px;
    font-weight: 800;
}
.topod
{
    display: flex;
}

.podnc
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: auto;
    position: relative;
    margin: 20px;
    border-bottom: 2px solid var(--blue);
}
.podnc > h3
{
    z-index: 3;
    width: 50vw;
    position: relative;
    color: var(--blue);
    font-weight: 800;
}

.logo
{
    width: 50px;
    height: 50px;
}

#searchbar
{
    position: absolute;
    left: 40%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: var(--blue);
}

#searchbar::placeholder 
{ 
    color: white;
    opacity: 1; 
}

#searchbar::-ms-input-placeholder 
{ 
    color: white;
}

.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #aaaaaa;
    transition: background-color ease 0.3s;
}

.toggle:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 45%;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
    background-color: #333333;
}

.toggle:checked:before {
    left: 25px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    border-top: 2px solid var(--grey);
}

